# LinuxServer containers user/group IDs
PUID=112
PGID=122

# Timezone
TZ=America/Los_Angeles

# CyberGhost OpenVPN credentials (or your provider)
CG_OPENVPN_USER=PUT_USERNAME_HERE
CG_OPENVPN_PASS=PUT_PASSWORD_HERE
