# LinuxServer containers user/group IDs — run `id` to find yours
PUID=1000
PGID=1000

# Timezone
TZ=America/Los_Angeles

# OpenVPN credentials from your VPN provider
CG_OPENVPN_USER=PUT_USERNAME_HERE
CG_OPENVPN_PASS=PUT_PASSWORD_HERE
